html,
body{
    /*background-color: #a3b18a !important;*/
    background-image: url('../css/green.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    background-color: #588157;
    color: white;
    border: none;
}

.form {
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: white;
}

.form h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}

.form input {
    font-size: 16px;
    width: 100%;
    padding: 15px 10px;
    border: 0;
    outline: none;
    border-radius: 5px;
}

.form-label {
    font-size: 20px;
    font-weight: bold;
}

#username {
    font-size: 20px;
    margin: 15px 0;
}

#password {
    font-size: 20px;
    margin: 15px 0;
}

a:link, a:visited {
    background-color: #3a5a40;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

#Login{
    background-color:#588157 !important;
    color:white !important;
    border-color:#3a5a40 !important;
    margin: 15px 0;
}
#Register{
    background-color:#588157 !important;
    color:white !important;
    border-color:#3a5a40 !important;
    margin: 15px 0;
}

.home {
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.home h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 80px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin: 40px 0;
}

/*
COLOR PALLETTE: FROM LIGHT TO DARK:
dad7cd
a3b18a
588157
3a5a40
344e41
*/