<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
      <h1>Map page:</h1>
      <img src="https://maps.googleapis.com/maps/api/staticmap?center=Boulder,CO&zoom=14&size=400x400&key=AIzaSyC_Ebun0RofHwcm2O9PsuVE-ujz8vJQNT0">
    </div>
</main>

<%- include ('../partials/footer') %>