<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
      <h1>Map page:</h1>
      <img src="<%= locals.map %>">
    </div>
</main>

<%- include ('../partials/footer') %>