<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="home" style="color: black;">
      <h1>CU SPOTS</h1>
      <div style="font-size: x-large;"> CU Spots is a mapping tool meant for CU Boulder students to mark their favorite places on campus. <br>
            To use the application, simply: <br>
            1. Register a new account using the register page <br>
            2. Login with your new account using the login page <br>
            3. Navigate to the map page <br>
            4. Use the bar on the right hand side of the page to view spots, add spots, and rate spots <br>
            5. That's it! You can log out using the log out button. <br>
      </div>
    </div>
</main>

<%- include ('../partials/footer') %>