<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="form">
    <h1>Register</h1>
    <form action="/register" method="POST">
      <div class="user">
        <label for="username" class="form-label">Set Username:</label>
        <input name="username" type="text" class="form-control" id="username" placeholder="Enter username" required />
      </div>
      <div class="pass">
          <label for="password" class="form-label">Set Password:</label>
          <input name="password" type="text" class="form-control" id="password" placeholder="Enter password" required />
      </div>
      <div class="button">
        <button id="Register" class="btn btn-primary" type="submit">Register</button>
      </div>
  </form>
  <a href="/login">Already have an account?</a>
  <div class="col"><%- include ('../partials/message') %></div>
  </div>
</main>

<%- include ('../partials/footer') %>